
html, body{
  font-family: 'Montserrat', sans-serif;

  min-height: 100%;
  height: auto;
}


.bg-primary-color {
  background-color: #0F407A;
}

.container-fluid, .row-side-bar {
  height: inherit;
}


/********** SIDEBAR *************/

.sidebar {
  min-height: 100%;
  height: auto;

  padding-bottom: 2em; 
  box-shadow: 0 0px 9px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
}


.sidebar h1 {

  font-weight: 700;
  color: white;

  margin-top: 0.75em;
  padding: 0.5em;

  text-align: right;
}

.sidebar h2 {

  margin: 0.5em;
  text-align: right;

  color: white;
  font-weight: 400;
  font-size: 20px;

}



/* 1.Elements */


#line {
  width: 10px;
  height: 95em;
  background-color: white;
  border-radius: 20px;
  margin: 2em;
  margin-right: 3em;
  right: 0;
  position: absolute;
}


/** GENERATE **/


.generate {
  width: 100%;
  margin-top: 5em;
}

.generate .content {
  text-align: right;
}

.generate .content p {
  color: white;

  font-weight: 700;
  font-size: 18px;
}

.generate .content button {
  font-weight: 700;
  padding: 1em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}


.generate .content .question{

  background-color: #CCCC;
  margin-left: 2em;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em;
  display: flex;
}

.generate .content .question p {
  font-weight: 500;
  font-size: 14px;
  color: black;
  letter-spacing: 3px;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 0;
  margin-right: 0.5em;
}

/** PREVIEW **/


#preview-bar {
  margin-top: 90%;
}


#download-bar {
  margin-top: 160%;
}

.target{
    border-radius: 5px;
    margin:0 auto;
    padding: 5em;
    outline: none;
    margin-top:1em;
    visibility: visible;
    height: 100%;
    width: 100%;
    font-size: 1em;
    max-width: 800px;
    background-color: #2d2d2d;
    color: 	white;
    font-family: 'Inconsolata', monospace;
    outline: none;
    display: block;
}


/*** MAIN CONTENT ***/


.box-container, #waiting-div  {

  padding: 3em; 

}


.box-container h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: normal;
  

  color: #0F407A;
}

.box-container .content-text, #waiting-div {
  margin-top: 4em; 
}

.text-area, #waiting-div {
  border-radius: 5px;
  resize: none;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} 


.content-text, #waiting-div {
  width: 80%;
  outline:none;
  color:  #0F407A;

  padding: 3em;

  
  font-size: 1em;

  height: 40em;
}

.preview-text-area {
  background-color: rgb(238, 238, 238);
  max-width: 80%;
  overflow: auto;
}


.preview-text-area h1 {
  font-size: 26px;
}

.preview-text-area h2 {
  font-size: 22px;  
  color: #2d2d2d;
}

.preview-text-area p {
  color: #222222;
  font-size: 16px;
}

.separator {
  width: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/** By sections **/

.write {
  margin-top: 6em;
}

footer {
  height: 100px;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
}


#waiting-div {
  display: none;
  text-align: center;
  vertical-align: center;
}


.lds-dual-ring {
  display: inline-block;
  top:0;
  bottom: 0;
  margin: 0 auto;
  margin-top: 25%;
  height: 100%;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #0F407A;
  border-color: #0F407A transparent #0F407A transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
  padding-top: 0.25em;
  max-width: 200px;
  float: right;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #ffffff; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 20px;

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(91, 143, 206); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(91, 143, 206);   /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 20px;
}