
body{
  margin:1em;
  background: #D0D0D0;
  }
.input{
  border-radius: 5px;
  margin:0 auto;
  padding: 5em;
  height: 100%;
  width: 100%;
  font-size: 1em;
  max-width: 900px;
  background-color: #2d2d2d;
  color: 	white;
  font-family: 'Inconsolata', monospace;
  outline: none;
  display: block;
}


   