<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <meta name="description" content="Content generator given a table of content using Machine Learning and search similarity.">
        <meta name="keywords" content="content generator ml hackathon copenhacks openai ai">
        <meta name="author" content="Donework team">

        <link rel='stylesheet' href="{{ url_for('static', filename='styles/master.css') }}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <title>Donework | Content generator</title>

    </head>

    <body>
        <h1>Donework</h1>        
        <textarea class="input" placeholder="Insert here the topic of your homework..."></textarea> 

        <script src="{ url_for('static', filename='js/main.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
    </body>


</html>

