<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <meta name="description" content="Content generator given a table of content using Machine Learning and search similarity.">
        <meta name="keywords" content="content generator ml hackathon copenhacks openai ai">
        <meta name="author" content="Donework team">

      
        <link rel='stylesheet' href="{{ url_for('static', filename='styles/master.css') }}">        
        <title>Donework | Content generator</title>
    </head>

    <body>
        <h1>Donework</h1> 
        <button id="genButton" onclick="generateText()">HIT ME UP BABY</button> 
        <button id="genPreview" onclick="run()">Preview BRO</button> 
        <textarea class="input" id="textInput" placeholder="Insert here the topic of your homework..."></textarea> 
        <br>
        <div class="target" id="targetDiv"></div>
        
        <!-- This one is to render the mardown -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
        <script src="{ url_for('static', filename='js/main.js') }}"></script>
    </body>


</html>

